<div class="wrapper">

  <div class="flex-center">
    <div class="heading">
      Карты и счета
    </div>
  </div>
  <div class="flex-center">
    <table class="data-table">
      <thead>
        <tr>
          <th>
            Название
          </th>
          <th>
            Цвет
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts.getAll()">
          <td>
            <input type="text" [(ngModel)]="account.name">
          </td>
          <td>
            <input type="color" [(ngModel)]="account.color">
          </td>
          <td>
            <button class="btn btn-delete-row" title="Удалить" (click)="deleteAccountRow(account.id)">⨉</button>
            <button class="btn btn-move-row" title="Переместить выше" (click)="moveAccountRowUp(account.id)">↑</button>
            <button class="btn btn-move-row" title="Переместить ниже" (click)="moveAccountRowDown(account.id)">↓</button>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="flex-center">
              <button class="btn btn-insert-row" title="Добавить карту/счёт" (click)="addNewAccountRow()">+</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="flex-center">
    <div class="heading">
      Затраты
    </div>
  </div>
  <div class="flex-center">
    <table class="data-table">
      <thead>
        <tr>
          <th></th>
          <th>
            Описание
          </th>
          <th>
            Сумма
          </th>
          <th>
            Использованный счёт
          </th>
          <th>
            Ожидаемый счёт
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spend of spends.getAll(); let i = index">
          <td>
            {{i + 1}}
          </td>
          <td>
            <input type="text" [(ngModel)]="spend.description">
          </td>
          <td>
            <input type="number" step="0.01" min="0" [(ngModel)]="spend.sum">
          </td>
          <td>
            <div class="flex-center">
              <select (change)="onSpendRealAccountChange($event, spend.id)">
                <option *ngFor="let account of accounts.getAll()" [value]="account.id" [selected]="spend.realAccountId == account.id">
                  {{account.name}}
                </option>
              </select>
              <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(spend.realAccountId).color}">
              </div>
            </div>
          </td>
          <td>
            <div class="flex-center">
              <select (change)="onSpendExpectedAccountChange($event, spend.id)">
                <option *ngFor="let account of accounts.getAll()" [value]="account.id" [selected]="spend.expectedAccountId == account.id">
                  {{account.name}}
                </option>
              </select>
              <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(spend.expectedAccountId).color}">
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-delete-row" title="Удалить" (click)="deleteSpendRow(spend.id)">⨉</button>
            <button class="btn btn-move-row" title="Переместить выше" (click)="moveSpendRowUp(spend.id)">↑</button>
            <button class="btn btn-move-row" title="Переместить ниже" (click)="moveSpendRowDown(spend.id)">↓</button>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="flex-center">
              <button class="btn btn-insert-row" title="Добавить затрату" (click)="addNewSpendRow()">+</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="flex-center">
    <div class="heading">
      Переводы
    </div>
  </div>
  <div class="flex-center">
    <table class="data-table">
      <thead>
        <tr>
          <th></th>
          <th>
            Сумма
          </th>
          <th>
            Со счёта
          </th>
          <th>
            На счёт
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of transfers.getAll(); let i = index">
          <td>
            {{i + 1}}
          </td>
          <td>
            <input type="number" step="0.01" min="0" [(ngModel)]="transfer.sum">
          </td>
          <td>
            <div class="flex-center">
              <select (change)="onTransferAccountFromChange($event, transfer.id)">
                <option *ngFor="let account of accounts.getAll()" [value]="account.id" [selected]="account.id == transfer.accountFromId">
                  {{account.name}}
                </option>
              </select>
              <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(transfer.accountFromId).color}">
              </div>
            </div>
          </td>
          <td>
            <div class="flex-center">
              <select (change)="onTransferAccountToChange($event, transfer.id)">
                <option *ngFor="let account of accounts.getAll()" [value]="account.id" [selected]="account.id == transfer.accountToId">
                  {{account.name}}
                </option>
              </select>
              <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(transfer.accountToId).color}">
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-delete-row" title="Удалить" (click)="deleteTransferRow(transfer.id)">⨉</button>
            <button class="btn btn-move-row" title="Переместить выше" (click)="moveTransferRowUp(transfer.id)">↑</button>
            <button class="btn btn-move-row" title="Переместить ниже" (click)="moveTransferRowDown(transfer.id)">↓</button>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <div class="flex-center">
              <button class="btn btn-insert-row" title="Добавить перевод" (click)="addNewTransferRow()">+</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="flex-center button-refresh-flex">
    <button class="btn btn-refresh-result" (click)="calculateResults()">
      Рассчитать
    </button>
  </div>

  <div *ngIf="differences !== null && debts !== null">

    <div class="flex-center">
      <div class="heading">
        Разница
      </div>
    </div>

    <div class="flex-center">
      <table class="data-table">
        <thead>
          <tr>
            <th>
              Счёт
            </th>
            <th>
              Итог
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let difference of differences">
            <td>
              <div class="flex-center">
                {{accounts.find(difference.accountId).name}} 
                <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(difference.accountId).color}"></div>
              </div>
            </td>
            <td [ngClass]="{'positive-sum': difference.sum > 0, 'negative-sum': difference.sum < 0}">
              {{roundMoney(difference.sum)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex-center">
      <div class="heading">
        Долги
      </div>
    </div>

    <div class="flex-center">
      <table class="data-table">
        <thead>
          <tr>
            <th>
              Со счёта
            </th>
            <th>
              На счёт
            </th>
            <th>
              Сумма
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debt of debts">
            <td>
              <div class="flex-center">
                {{accounts.find(debt.accountFromId).name}} 
                <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(debt.accountFromId).color}"></div>
              </div>
            </td>
            <td>
              <div class="flex-center">
                {{accounts.find(debt.accountToId).name}}
                <div class="account-color-badge" [ngStyle]="{'background-color': accounts.find(debt.accountToId).color}"></div>
              </div>
            </td>
            <td>
              {{roundMoney(debt.sum)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  

</div>