.wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: x-large;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.data-table {
    border-collapse: collapse;
}

.data-table th, .data-table td {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
}

.account-color-badge {
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.btn {
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
}

.btn-delete-row {
    background-color: #e51c23;
}

.btn-delete-row:hover {
    background-color: #f34d52;
}

.btn-insert-row {
    background-color: #259b24;
}

.btn-insert-row:hover {
    background-color: #42c540;
}

.btn-move-row {
    background-color: #03a9f4;
}

.btn-move-row:hover {
    background-color: #5db9e4;
}

.button-refresh-flex {
    margin-top: 15px;
}

.btn-refresh-result {
    font-size: xx-large;
    background-color: #ff9800;
    border-radius: 10px;
}

.btn-refresh-result:hover {
    background-color: #ffc107;
}

.btn-refresh-result:active {
    transform: translateY(5px);
}

.positive-sum {
    color: #259b24;
}

.negative-sum {
    color: #e51c23;
}