html, body {
    width: 100%; 
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url('assets/img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}